html, body{
    height: 100%;
}
main{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
main section{
    height: 100%;
}
header h5{
    margin: 0.874666667rem 0 0.874666667rem 0;
}
.info-row{
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
}
.buttons-row{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

ul .row{
    margin-bottom: 0;
}
.col .row {
    margin-left: 0;
    margin-right: 0;
}
.collection-item .row .col{
    padding: 0;
}
#task-list .collection .collection-header{
    background-color: #fafafa;
}
.collection .collection-item{
    padding: 10px 15px;
    background-color: #fafafa;
}
.collection.with-header .collection-item {
    padding-left: 15px;
}
#time-reports {
    bottom: 31px;
}
#time-reports .collection-item{
    position: relative;
}
#time-reports .collection-item .buttons{
    display: none;
}
#time-reports .collection-item:hover .buttons{
    display: block;
}
#time-reports .buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}
#time-reports .additional-info h6{
    color: grey;
}
#task-list .task-name{
    cursor: pointer;
    padding-right: 2px;
}
.project-name{
    cursor: pointer;
}
.btn-small {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
}
.date-panel {
    margin-top: 10px;
    margin-bottom: 0;
}

.tab-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 50px;
    overflow: auto;
}
#time-reports-total{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f5f5f5;
    padding: 5px 15px;
    color: grey;
    font-weight: 600;
}
#time-reports-total .row{
    margin-bottom: 0;
}
h5{
    margin: 5px 0;
}

#track-time .time-panel{
    height: 240px;
}
#track-time .time-panel h1{
    color: white;
    margin: 0 auto;
    font-size: 90px;
}