<section id="track-time" data-bind="with: trackTime, visible: trackTime.visible">
    <div class="info-row">
        <div data-bind="css: {red: isActive, blue: !isActive()}, click: function(){console.log(isActive());}">
            <div class="row" >
                <div class="col s12 time-panel valign-wrapper">
                    <h1 class="center-align" data-bind="text: time"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s3">Project</div>
                    <div class="col s9 project-name" data-bind="text: projectName, click: openProject"></div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s3">Task</div>
                    <div class="col s9 task-name" data-bind="text: taskName, click: openTask"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons-row">
        <div class="row" data-bind="if: isActive">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light" type="button" name="action" data-bind="click: pause">Stop</button>
            </div>
        </div>
        <div class="row" data-bind="ifnot: isActive">
            <div class="col s6">
                <button class="btn waves-effect waves-light" type="button" data-bind="click: done">Done</button>
                <button class="btn waves-effect waves-light" type="button" data-bind="click: discard">Discard</button>
            </div>
            <div class="col s6 right-align">
                <button class="btn waves-effect waves-light" type="button" data-bind="click: edit">Edit</button>
                <button class="btn waves-effect waves-light" type="button" data-bind="click: resume">
                    Resume
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</section>